python-binance
pandas
tqdm

sqlalchemy 
psycopg2-binary
python-dotenv

# Tracking and logging some model version
mlflow

# Testing framework
pytest

# Machine learning framework
tensorflow

# For data visualization
ta
tqdm 
pyarrow

# For model training xgboost
xgboost